@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .pic {
        animation: picAnim 1s ease-in-out;
    }

    .video {
        animation: videoAnim 1s ease-in-out;
    }

    .text {
        animation: textAnim 1s linear;
    }

    @keyframes textAnim {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes videoAnim {
        0% {
            transform: translateY(10%);
        }
        100% {
            transform: translateY(0);
        }
    }
    .pic2 {
        animation: picAnim2 1s ease-in-out;
    }

    .loader {
        animation: loading 4s linear;
    }

    @keyframes loading {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes picAnim2 {
        0% {
            transform: translateY(-50%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes picAnim {
        0% {
            transform: translateY(30%);
        }
        100% {
            transform: translateY(0);
        }
    }
}
