@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .loader {
        animation: loading 4s linear;
    }

    @keyframes loading {
        0% {
            width: 0;
            transform: translateY(-5%);
        }
        100% {
            width: 100%;
            transform: translateY(-5%);
        }
    }

    .picUp {
        animation: picUp 0.5s linear;
    }

    .picDown {
        animation: picDown 0.5s linear;
    }

    @keyframes picDown {
        0% {
            transform: translateY(5%);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes picUp {
        0% {
            transform: translateY(20%);
        }
        100% {
            transform: translateY(0);
        }
    }


}
